body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #11999e;
  font-size: 3.125rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #11999e;
  font-family: 'Comic Neue', cursive;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: 'Comic Neue', cursive;
}

p {
  font-family: 'Merriweather', serif;
  line-height: 2;
}

hr{
  border: dotted  #40514E 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color:  #11999e;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  color:  #eaf6f6;
  font-size: 0.75rem;
  padding: 20px ;
}

.top-container {
  background-color: #cbf1f5;
  position: relative;
  padding-top: 200px;
}

.middle-container {
  margin: 100px 0;
}
.bottom-container{
  background-color: #66bfbf;
   padding: 50px 0 20px;
}

.contact-message{
  width:40%;
  letter-spacing: 1px;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.webdev-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.sql-image {
  width: 25%;
  float: left;
  float: right;
  margin-left: 30px;
}
.Clang-img {
  width: 20%;
  float: left;
  margin-right:30px;
}
.ibm-image{
  width: 25%;
  float:right;
  margin-left:  30px;
}
.cybersecurity-image{
  width: 30%;
  float: left;
  margin-right: 30px;
}
.st-image{
  width: 25%;
  float: right;
  margin-left:30px; 

}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
